<!DOCTYPE html>
<html lang="en">

<head>
	<title>Create an Event</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url('../../static/img/back.jpg')">
	<div class="container">
		<div class="row" style="background-image: url('../../static/img/front.jpg')">
 			<div class="col-sm-8">
 				<center><a href="donor.html"><img src="../../static/img/Untitled.png" alt="Logo" id="logo" style="width:424px;height:84px;"></a></center>
 			</div>
  			<div class="col-sm-4">
  				<center><h1><p>
  				<a href="setting.html"><button type="button" class="btn btn-primary btn-lg">Setting</button></a>   
  				<a href="test.html"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
  				</p></h1></center>
  			</div>
	<center>
		<div class="row" style="padding-top: 150px">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Create an Event	</strong>
					</div>
					<div class="panel-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">Type of Event</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="inputEmail3" placeholder="Event Type" required="" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">Name of Event</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="inputEmail3" placeholder="Event Name" required="" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">Location of Event</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="inputEmail3" placeholder="Location" required="" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">Time</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="inputEmail3" placeholder="Time" required="" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">Description</label>
								<div class="col-sm-9">
									<textarea class="form-control" id="inputEmail3" rows="6" placeholder="Say something about the event" required=""></textarea>
								</div>
							</div>
							<div class="form-group-last">
								<div class="col-sm-offset-2 col-sm-9">
									<a href=""><button type="submit" class="btn btn-success btn-sm">Create Event</button></a>
									<button type="reset" class="btn btn-default btn-sm">Reset</button>
								</div>
							</div>
						</form>
					</div>
				</div>	
			</div>
		</div>
	</center>
</body>

</html>