<!DOCTYPE html>
<html lang="en">

<head>
	<title>Letusdonate</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="row" style="background-image: url('../../static/img/front.jpg'); padding: 20px">
 			<div class="col-sm-8">
 				<center><a href="{% url 'dashboard' %}"><img src="../../static/img/Untitled.png" alt="Logo" id="logo" style="width:424px;height:84px;"></a></center>
 			</div>
  			<div class="col-sm-4">
  				<center><h1><p>
  				<a href="{% url 'settings_view' %}"><button type="button" class="btn btn-primary btn-lg">Settings</button></a>
  				<a href="{% url 'logout' %}"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
  				</p></h1></center>
  			</div>
  		</div>

  		<div class="row">
  			{% for ngo in ngos %}
  			<div class="row" style="background-color: white; padding: 5% 1%">
  				<div class="col-sm-offset-0 col-sm-4" style="font-family: 'Open sans', sans-serif; color: #555555; font-size: 60px;">
            <div class="row">
					   <center><img src="../../static/img/build1.jpg" class="img-circle" width="250" height="250" alt="ngo" /></center>
  				  </div>
            <div class="row">
              <center>{{ngo.user.first_name}}</center>
            </div>
          </div>
  				<div class="col-sm-offset-1 col-sm-7" style="font-family: 'Open sans', sans-serif; color: #555555; font-size: 22px;">
            <div class="row" style="padding: 3% 2%">
  					 {{ngo.description}}
           </div>
           <div class="row" style="padding: 3% 2%">
            Contact No: {{ngo.phone}}<br/>
            Email: {{ngo.user.email}}<br/>
           </div>
  				</div>
  			</div>
				{% endfor %}
  		</div>

  	</div>
</body>
</html>
