<!DOCTYPE html>
<html lang="en">

<head>
	<title>Create an Event</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="row" style="background-image: url('../../static/img/front.jpg'); padding: 20px">
 			<div class="col-sm-8">
 				<center><a href="donor.html"><img src="../../static/img/Untitled.png" alt="Logo" id="logo" style="width:424px;height:84px;"></a></center>
 			</div>
  			<div class="col-sm-4">
  				<center><h1><p>
  				<a href="setting.html"><button type="button" class="btn btn-primary btn-lg">Setting</button></a>   
  				<a href="test.html"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
  				</p></h1></center>
  			</div>
  		</div>

  		<div class="row">
  			
  			<div class="row" style="background-color: red; padding: 60px">
  				<div class="col-sm-offset-0 col-sm-4" style="font-family: 'Open sans', sans-serif; color: #555555; font-size: 60px;">
					<center>Event Name</center>
  				</div>
  				<div class="col-sm-4" style="font-family: 'Open sans', sans-serif; color: #555555; font-size: 16px;">
  					We have different views for different users -
					Donor, Volunteer, NGO
					Donors can donate items, view their previous donated history, register as a volunteer, view list of NGOs registered and their events.
					NGOs can view the list of donated items, create events and charity drives and request for volunteers.
					Volunteers ensure that the item donated is delivered to the NGO and help organise an event with an NGO.
  				</div>
  				<div class="col-sm-4" style="font-family: 'Open sans', sans-serif; color: #555555; font-size: 20px;">
					Time : <br/>
					Venue :<br/>
					Type :<br/>
					Contact :<br/>
  				</div>
  			</div>

  			<div class="row" style="background-color: blue; padding: 60px">
  				<div class="col-sm-offset-0 col-sm-4" style="font-family: 'Open sans', sans-serif; color: white; font-size: 60px;">
					<center>Event Name</center>
  				</div>
  				<div class="col-sm-4" style="font-family: 'Open sans', sans-serif; color: white; font-size: 16px;">
  					We have different views for different users -
					Donor, Volunteer, NGO
					Donors can donate items, view their previous donated history, register as a volunteer, view list of NGOs registered and their events.
					NGOs can view the list of donated items, create events and charity drives and request for volunteers.
					Volunteers ensure that the item donated is delivered to the NGO and help organise an event with an NGO.
  				</div>
  				<div class="col-sm-4" style="font-family: 'Open sans', sans-serif; color: white; font-size: 20px;">
					Time : <br/>
					Venue :<br/>
					Type :<br/>
					Contact :<br/>
  				</div>
  			</div>

  		</div>

  	</div>
</body>
</html>