<!DOCTYPE html>
<html lang="en">
<head>
  <title>Letusdonate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
   <link rel="stylesheet" type="text/css" href="../../static/css/donor.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
	<div class="row" style="background-image: url('../../static/img/front.jpg'); padding: 20px">
 		<div class="col-sm-8"><center><a href="{% url 'dashboard' %}"><img src="../../static/img/Untitled.png" alt="Logo" id="logo" style="width:424px;height:84px;"></a></center></div>
  		<div class="col-sm-3">
  		<center><h1><p>
  			<a href="{% url 'settings_view' %}"><button type="button" class="btn btn-primary btn-lg">Settings</button></a>
  			<a href="{% url 'logout' %}"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
  		</p></h1></center>
  		</div>
	</div>

</div>

	<div class="row" id="about">
  <center>
    <h2 id="about-head"><strong>Guidelines for Volunteers</strong></h2>
	
	 </div>
	 <div class="row">
       <div class="col-sm-offset-2 col-sm-8">
       	<p id="about-content">1. Give your valid information while signing up,we need to verify it</p>
        <p id="about-content">2. You can participate in any events</p>
        <p id="about-content">3. Volunteer may require to help in collecting items from the donor.</p>
        <p id="about-content">4. VOlunteer must check out items if he has already collected items</p>
        <p id="about-content">5. Give respect to donors while collectiing items,if anything illegal things found FIR may be lodged against the accused(like theft of donated items,harassing donor)</p>
        <p id="about-content">6. Only collect required items</p>
         <p id="about-content">7. Try to participate in events and be regular with work assigned,work will be during weekends</p>
       </div></div>
</body>
</html>
