<!DOCTYPE html>
<html lang="en">
<head>
  <title>Letusdonate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/donor.css">
   <link rel="stylesheet" type="text/css" href="../../static/css/volunteer.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container-fluid">
	<div class="row" style="background-image: url('../../static/img/front.jpg'); padding: 20px" >
 		<div class="col-sm-8">
      <center><img src="../../static/img/Untitled.png" alt="Logo" id="logo" style="width:424px;height:84px;"></center>
    </div>
  	<div class="col-sm-4">
  		<center><h1><p>  
  			<a href="{% url 'settings_view' %}"><button type="button" class="btn btn-primary btn-lg">Settings</button></a>
  			<a href="{% url 'logout' %}"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
  		</p></h1></center>
  	</div>
	</div>
  <div class="row" style="padding-top: 50px">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-4" id="createad">
          <a href="{}"><img src="../../static/img/event.png" class="img-circle" alt="Cinque Terre" width="156" height="156" /></a>
        </div>
        <div class="col-sm-2">
          <a href="{}"><img src="../../static/img/view-items.png" class="img-circle" alt="Cinque Terre" width="156" height="156" /></a>
        </div>
      </div>
    </div>
  </div>

  <center><h2><b>Item list</b></h2></center>
  <form name="donor_items" action="" method="post">
  			<ul class="nav nav-tabs" style="font-size: 25px;padding-left:400px;padding-bottom: 10px;">
            <li class="active"><a data-toggle="tab" href="#my">Collect Items</a></li>
            <li><a data-toggle="tab" href="#all">Collected items</a></li>
            <li><a data-toggle="tab" href="#del">Delivered</a></li>
            </ul>
  <div class="tab-content">
  <div id="my" class="tab-pane fade in active">
  <div class="row" id="volunteer">
   <div class="col-sm-10 col-sm-offset-1">
   <button type="submit" class="btn btn-success btn-sm">Collected</button>
   <p></p>
   <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Item</th>
        <th>Address</th>
        <th>Mobile No.</th>
        <th>PIN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
         <td><input type="checkbox" name="donation[]" value="collected" /></td>
        <td>Manith Shetty</td>
        <td>Bed</td>
        <td>MT1,NITK Hostels,NITK Surathkal</td>
        <td>9012345678</td>
        <td>575025</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="donation[]" value="collected" /></td>
        <td>Manith Shetty</td>
        <td>Bed</td>
        <td>MT1,NITK Hostels,NITK Surathkal</td>
        <td>9012345678</td>
        <td>575025</td>
      </tr>
    </tbody>
   </table>
  </div>      
</div>
</div>
  <div id="all" class="tab-pane fade">
  <div class="row" id="volunteer">
   <div class="col-sm-10 col-sm-offset-1">
   <button type="submit" class="btn btn-success btn-sm">Delivered</button>
   <p></p>

   <table class="table"  style="padding-bottom: 20px;">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Item</th>
        <th>Address</th>
        <th>Mobile No.</th>
        <th>PIN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
         <td><input type="checkbox" name="collected" value="collected" /></td>
        <td>Manith Shetty</td>
        <td>Bed</td>
        <td>MT1,NITK Hostels,NITK Surathkal</td>
        <td>9012345678</td>
        <td>575025</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="collected" value="collected" /></td>
        <td>Manith Shetty</td>
        <td>Bed</td>
        <td>MT1,NITK Hostels,NITK Surathkal</td>
        <td>9012345678</td>
        <td>575025</td>
      </tr>
    </tbody>
   </table>
  </div>      
</div>
</div>
<div id="del" class="tab-pane fade	">
<div class="row" id="volunteer">
   <div class="col-sm-10 col-sm-offset-1">
   
   <table class="table">
    <thead>
      <tr>
        
        <th>Name</th>
        <th>Item</th>
        <th>Address</th>
        <th>Mobile No.</th>
        <th>PIN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
         
        <td>Manith Shetty</td>
        <td>Bed</td>
        <td>MT1,NITK Hostels,NITK Surathkal</td>
        <td>9012345678</td>
        <td>575025</td>
      </tr>
      <tr>
        
        <td>Manith Shetty</td>
        <td>Bed</td>
        <td>MT1,NITK Hostels,NITK Surathkal</td>
        <td>9012345678</td>
        <td>575025</td>
      </tr>
    </tbody>
   </table>
  </div>      
</div>
</div>

</div>

</form>
<div class="row" style="background-image: url('../../static/img/front.jpg'); padding: 20px;">
      <div class="col-sm-2 col-sm-offset-2">
        <center><h1>
            <p>           
              <a href="{% url 'about' %}">
                <button type="button" class="btn btn-primary btn-lg">About</button>
              </a>
            </p>
          </h1></center>
      </div>
      <div class="col-sm-4">
        
          <center><h1>
            <p>           
              <a href="{% url 'faq' %}">
                <button type="button" class="btn btn-primary btn-lg">FAQ</button>
              </a>
            </p>
          </h1></center>
        
      </div>
      <div class="col-sm-2">
        
        <center><h1>
            <p>           
              <a href="{% url 'contact_us_view' %}">
                <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
              </a>
            </p>
          </h1></center>
        
      </div>
    </div>
</body>
</html>
