<!DOCTYPE html>
<html lang="en">
<head>
  <title>Letusdonate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
	<div class="row" style="background-image: url('../static/img/front.jpg')">
 		<div class="col-sm-8"><center>
      <a href="{% url 'dashboard' %}"><img src="../static/img/Untitled.png" alt="Logo" id="logo" style="width:424px;height:84px;"></a></center></div>
  		<div class="col-sm-4">
  		<center><h1><p>
      <a href="about.html"><button type="button" class="btn btn-primary btn-lg">About</button></a>
  			<a href="{% url 'settings_view' %}"><button type="button" class="btn btn-primary btn-lg">Setting</button></a>
  			<a href="{% url 'logout' %}"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
  		</p></h1></center>
  		</div>

</div>

	<div class="row" id="about"><center><h2 id="about-head"><strong>What is Letusdonate?</strong></h2>
	
	 </div>
	 <div class="row">
       <div class="col-sm-offset-2 col-sm-8">
       	<p id="about-content"> Letusdonate is a Non-Profit network that facilitates interaction between donors and NGO's from different parts of the country. It is place where donors can make donation to variety of charity and for the good cause,aslo NGO's can reach out to people for organizing charity events and also get in contact with volunteers.</p></center>
       </div></div>

<div class="row" id="about"><center><h2 id="about-head"><strong>How it works</strong></h2>
	
	 </div>
	 <div class="row">
       <div class="col-sm-offset-2 col-sm-8">
       	<p id="about-content"> When donors make donation in the website,volunteer collects the items from donors and distributes to the NGO's as per the NGO requirements.The donors can also volunteer for any charity events,if he wants to volunteer to collect items he can request for the same.</p></center>
       </div></div>
</body>
</html>