<!DOCTYPE html>
<html lang="en">
<head>
	<title>Letusdonate</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row" style="background-image: url('../static/img/front.jpg'); padding: 20px">
			<div class="col-sm-9">
				<a href="{% url 'dashboard' %}">
					<center><img src="../static/img/Untitled.png" alt="Logo" id="logo" style="width:424px;height:84px;"></center>
				</a>
			</div>
			<div class="col-sm-3">
				<center>
					<h1>
						<p>
							<a href="{% url 'login' %}">
								<button type="button" class="btn btn-primary btn-lg">Login</button>
							</a>
							<a href="{% url 'signup' %}">
								<button type="button" class="btn btn-primary btn-lg">Register</button>
							</a>
						</p>
					</h1>
				</center>
			</div>
		</div>
	</div>
	<div class="row" id="about">
		<center><div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="../static/img/Donations.jpg" alt="donation" width="460" height="345">
      </div>

      <div class="item">
        <img src="../static/img/slide.jpg" alt="Chania" width="460" height="345">
      </div>
    
      <div class="item">
        <img src="../static/img/volunteer.jpg" alt="Flower" width="460" height="345">
      </div>

  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div></center>
	</div>
	<div class="row" id="about">
		<center><h2 id="about-head"><strong>What is Letusdonate?</strong></h2>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<p id="about-content"> Letusdonate is a Non-Profit network that facilitates interaction between donors and NGO's
			from different parts of the country. It is place where donors can make donation to variety of charity and
			for the good cause,aslo NGO's can reach out to people for organizing charity events and also get in contact
			with volunteers.</p></center>
		</div>
	</div>
	<div class="row" id="about">
		<center><h2 id="about-head"><strong>Mission</strong></h2>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<p id="about-content">Our mission is to make a best platform for Donors and Volunteers to connect with NGO.We want to ensure that anyone from any part of country can donate for novel cause and also ensure NGO can create more events and drives to help the one in need.In simple words we make the art of donation more easy by providing a platform.</p></center>
		</div>
	</div>


	<div class="row" id="about">
		<center><h2 id="about-head"><strong>How it works</strong></h2>
	</div>
	<div class="row" style="padding-bottom: 40px;">
		<div class="col-sm-offset-2 col-sm-8">
			<p id="about-content"> When donors make donation in the website,volunteer collects the items from donors and
			distributes to the NGO's as per the NGO requirements.The donors can also volunteer for any charity events,if
			he wants to volunteer to collect items he can request for the same.</p></center>
		</div>
	</div>
	<div class="row" style="background-image: url('../static/img/front.jpg'); padding: 20px;">
			<div class="col-sm-2 col-sm-offset-2">
				<center><h1>
						<p>						
							<a href="about.html">
								<button type="button" class="btn btn-primary btn-lg">About</button>
							</a>
						</p>
					</h1></center>
			</div>
			<div class="col-sm-4">
				
					<center><h1>
						<p>						
							<a href="faq.html">
								<button type="button" class="btn btn-primary btn-lg">FAQ</button>
							</a>
						</p>
					</h1></center>
				
			</div>
			<div class="col-sm-2">
				
				<center><h1>
						<p>						
							<a href="contact-form.html">
								<button type="button" class="btn btn-primary btn-lg">Contact Us</button>
							</a>
						</p>
					</h1></center>
				
			</div>
		</div>
</body>
</html>