.event:nth-of-type(2n+1) {
    background-color: white;
    color: #555555;
    padding: 60px;
}

.event:nth-of-type(2n) {
    background-color: gray;
    color: white;
    padding: 60px;
}

.head{
	font-family: 'Open sans', sans-serif;
	font-size: 40px;
	padding: 5%;
}

.desc{
	 font-family: 'Open sans', sans-serif;
	 font-size: 16px;
}

.loc{
	font-family: 'Open sans', sans-serif;
	font-size: 20px;
}

.pgcenter {
  width:800px;
  padding:10px;
  height:50px;
  position:absolute;
  margin-top:-25px;
  margin-left:-400px;
  top:50%;
  left:50%;
  font-size: 30px;
  text-align: center;
}
