body{
	background-image: url(../img/back2.jpg);
}
#about{

	padding-top: 40px;
}
#about-head{
	color:#58ACFA;
	font-size: 32px;
}
#about-content{
	font-size: 20px;
	color: #424242;
	text-align: justify;
	text-justify:inter-word;
}
h3{
	color: white;
	font-size: 40px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
h2{
	color: #58ACFA;
	font-size: 30px;
}
.carousel-caption{
	top: 25%;
transform: translateY(-50%);
}
