<!DOCTYPE html>
<html lang="en">

<head>
	<title>Letusdonate</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body background="../../static/img/back.jpg">
	<div class="container">
		<div class="row" style="padding: 20px">
			<div class="col-sm-8">
				<center><a href="{% url 'home' %}"><img src="../../static/img/Untitled.png" alt="Logo" id="logo" style="width:424px;height:84px;"></a></center>
			</div>
  			<div class="col-sm-4">
  				<center><h1><p>
  				<a href="{% url 'settings_view' %}"><button type="button" class="btn btn-primary btn-lg">Settings</button></a>
  				<a href="{% url 'logout' %}"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
  				</p></h1></center>
  			</div>

  			<div class="row" style="padding-top: 150px">
				<div class="col-sm-offset-2 col-sm-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Create an Event	</strong>
						</div>
						<div class="panel-body">
							<form class="form-horizontal" role="form" action="{% url 'create_event' %}" method="post">
							{% csrf_token %}
							<div class="form-group">
								<label for="type" class="col-sm-3 control-label">Type</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="type" name="type" placeholder="Event Type" required="" />
								</div>
							</div>
							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">Name</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="name" name="name" placeholder="Event Name" required="" />
								</div>
							</div>
							<div class="form-group">
								<label for="location" class="col-sm-3 control-label">Location</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="location" name="location" placeholder="Event Location" required="" />
								</div>
							</div>
							<div class="form-group">
								<label for="city" class="col-sm-3 control-label">City</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="city" name="city" placeholder="City" required="" />
								</div>
							</div>
							<div class="form-group">
								<label for="time" class="col-sm-3 control-label">Time</label>
								<div class="col-sm-9">
									<input type="datetime-local" class="form-control" id="time" name="time" placeholder="Time" required="" />
								</div>
							</div>
							<div class="form-group">
								<label for="vol" class="col-sm-3 control-label">No of Volunteers</label>
								<div class="col-sm-9">
									<input type="number" class="form-control" id="vol" name="vol_req" value="0" min="0" placeholder="No of Volunteers Required" required="" />
								</div>
							</div>
							<div class="form-group">
								<label for="description" class="col-sm-3 control-label">Description</label>
								<div class="col-sm-9">
									<textarea class="form-control" id="description" name="description" rows="6" placeholder="Say something about the event" required=""></textarea>
								</div>
							</div>
							<div class="form-group-last">
								<div class="col-sm-offset-5 col-sm-9">
									<input type="submit" class="btn btn-success btn-sm" value="Submit" />
									<input type="reset" class="btn btn-default btn-sm" value="Reset" />
								</div>
							</div>
						</form>
					</div>
					</div>
				</div>	
			</div>
		</div>
	</div>

</body>

</html>
