<!DOCTYPE html>
<html lang="en">
<head>
  <title>Letusdonate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="../../static/css/volunteer.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url('../../static/img/back2.jpg')">
<div class="container-fluid">
	<div class="row" style="background-image: url('../../static/img/front.jpg'); padding: 20px" >
 		<div class="col-sm-8">
      <center><a href="{% url 'dashboard' %}"><img src="../../static/img/Untitled.png" alt="Logo" id="logo" style="width:424px;height:84px;"></center>
    </div>
  	<div class="col-sm-4">
  		<center><h1><p>  
  			<a href="{% url 'settings_view' %}"><button type="button" class="btn btn-primary btn-lg">Settings</button></a>
  			<a href="{% url 'logout' %}"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
  		</p></h1></center>
  	</div>
	</div>
  
  <div class="row col-sm-offset-3 col-sm-6" id="volunteer" style="padding-top: 30px">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Add Requirement</strong>
      </div>
    <div class="panel-body">
      <form class="form-horizontal" name="add" role="form" action="{% url 'edit_req' %}" method="post">
       {% csrf_token %}
        <div class="form-group">
          <label for="item_name" class="col-sm-offset-1 col-sm-3 control-label">Item Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="item_name" name="item_name" placeholder="Item Name" required="" />
          </div>
        </div>
        <div class="form-group">
          <label for="item_type" class="col-sm-offset-1 col-sm-3 control-label">Item Type</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="item_type" name="item_type" placeholder="Item Type" required="" />
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-offset-1 col-sm-3 control-label">Quantity</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3" name="item_quantity" placeholder="Quantity" required="" />
          </div>
        </div>
        <div class="form-group-last">
          <div class="col-sm-offset-5 col-sm-9">
            <button type="submit" class="btn btn-success btn-sm">Submit</button>
            <button type="reset" class="btn btn-default btn-sm">Reset</button>
          </div>
        </div>
      </form>
    </div>
   </div>
  </div>

  <div class="row" id="table">
   <div class="col-sm-offset-1 col-sm-10" style="padding-top: 50px">
     <table class="table">
      <thead>
      <tr>
        <th>Item</th>
        <th>Type</th>
        <th>Quantity</th>
      </tr>
      </thead>

      <tbody>
      {% if not item_quantities %}
      <tr>
        <td colspan="3"><center>No Items to Display</center></td>
      </tr>
      {% endif %}
      {% for item_quantity in item_quantities %}
      <tr>
        <td>{{item_quantity.item.name}}</td>
        <td>{{item_quantity.item.type}}</td>
        <td>{{item_quantity.quantity}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>          
  </div>
</div>  

</body>
</html>
