<!DOCTYPE html>
<html lang="en">

<head>
	<title>Create an Event</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row" style="background-image: url('../../static/img/front.jpg'); padding: 20px">
			<div class="col-sm-8">
				<center><img src="../../static/img/Untitled.png" alt="Logo" id="logo" style="width:424px;height:84px;"></center>
			</div>
  			<div class="col-sm-4">
  				<center><h1><p>
      		
  				<a href="settings.html"><button type="button" class="btn btn-primary btn-lg">Setting</button></a>
  				<a href="{% url 'logout' %}"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
  				</p></h1></center>
  			</div>
		</div>
		<div class="row" style="padding-top: 50px">
			<div class="col-sm-offset-1 col-sm-4" style="padding: 25px">
				<img src="../../static/img/build1.jpg" class="img-circle" alt="NGO_Image" width="400" height="300" />
			</div>
			<div class="col-sm-offset-2 col-sm-4">
				<p class="about-content">
					Usually set up by ordinary citizens, NGOs may be funded by governments, foundations, schools, businesses, or private people. Some avoid formal funding altogether and are run primarily by volunteers. NGOs are highly diverse groups of organizations engaged in a wide range of activities, and take different forms in different parts of the world. Some may have charitable status, while others may be registered for tax exemption based on recognition of social purposes. Others may be fronts for political, religious, or other interests.
					The number of NGOs in the United States is estimated at 1.5 million.[1] Russia has 277,000 NGOs.[2] India is estimated to have had around 2 million NGOs in 2009, just over one NGO per 600 Indians, and many times the number of primary schools and primary health centres in India.[3][4]
				</p>
			</div>
		</div>
	</div>
</body>
</html>