<!DOCTYPE html>
<html lang="en">
<head>
  <title>Letusdonate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body background="../../static/img/back.jpg">

<div class="container-fluid">
	<div class="row" style="padding: 20px">
 		<div class="col-sm-8">
 			<center><a href="{% url 'dashboard' %}"><img src="../../static/img/Untitled.png" alt="Logo" id="logo" style="width:424px;height:84px;"></a></center>
 		</div>
  		<div class="col-sm-4">
  			<center><h1><p>
  			<a href="{% url 'settings_view' %}"><button type="button" class="btn btn-primary btn-lg">Settings</button></a>
  			<a href="{% url 'logout' %}"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
  			</p></h1></center>
  		</div>

		<div class="row" style="padding-top: 150px">
			<div class="col-sm-offset-3	 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Settings</strong>
					</div>
					<div class="panel-body">
						<form class="form-horizontal" role="form" action="{% url 'settings' %}" method="post">
							{% csrf_token %}
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">Name</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="name" name="name" value="{{ngo.user.first_name}}" placeholder="Name" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">Address</label>
								<div class="col-sm-9">
									<textarea class="form-control" id="address" name="address" rows=5 placeholder="Address">{{ngo.address}}</textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">Pincode</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="pincode" name="pin" value="{{ngo.pincode}}" placeholder="Pincode" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">Mobile No</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="phone" name="phone" value="{{ngo.phone}}" placeholder="Phone" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">Description</label>
								<div class="col-sm-9">
									<textarea class="form-control" id="inputEmail3" name="description" rows=5 placeholder="Description">{{ngo.description}}</textarea>
								</div>
							</div>
							<div class="form-group">
                        		<label for="inputPassword3" class="col-sm-3 control-label">New Password</label>
                        		<div class="col-sm-9">
                            		<input type="password" class="form-control" id="inputPassword3" name="new_password" placeholder="New Password" />
                        		</div>
                    		</div>
                    		<div class="form-group">
          						<label for="inputEmail3" class="col-sm-3 control-label">Select an image</label>
            					<div class="col-sm-9">
                					<input type="file" name="file" id="js-upload-files" multiple>
              					</div>	
              				</div>

							<div class="form-group-last">
								<div class="col-sm-offset-5 col-sm-9">
									<button type="submit" class="btn btn-success btn-sm">Save</button>
								</div>
							</div>
						</form>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<script src="../../static/js/ngoregister.js"></script>
</body>

</html>
