<!DOCTYPE html>
<html lang="en">

<head>
	<title>View Events</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../static/css/events.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row" style="background-image: url('../../static/img/front.jpg'); padding: 20px">
 			<div class="col-sm-8">
 				<center><a href="{% url 'home' %}"><img src="../../static/img/Untitled.png" alt="Logo" id="logo" style="width:424px;height:84px;"></a></center>
 			</div>
  			<div class="col-sm-4">
  				<center><h1><p>
  				<a href="{% url 'settings_view' %}"><button type="button" class="btn btn-primary btn-lg">Setting</button></a>
  				<a href="{% url 'logout' %}"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
  				</p></h1></center>
  			</div>
  		</div>

  		<div class="row">
        <center>
  			<ul class="nav nav-tabs" style="font-size: 25px">
          <li class="active"><a data-toggle="tab" href="#my">My Events</a></li>
          <li><a data-toggle="tab" href="#all">All Events</a></li>
        </ul>
        </center>

        <div class="event" style="padding: 0px">
        </div>

        <div class="tab-content">

          <div id="my" class="tab-pane fade in active">
  			    <div class="event">
              <div class="row">
  			        <div class="col-sm-offset-0 col-sm-4">
  				        <div class="head">
						        Event Name
					        </div>
  			        </div>
  			        <div class="col-sm-4">
  				        <div class="desc">
  					       We have different views for different users - Donor, Volunteer, NGO Donors can donate items, view heir previous donated history, register as a volunteer, view list of NGOs registered and their events. NGOs can view the list of donated items, create events and charity drives and request for volunteers. Volunteers ensure that the item donated is delivered to the NGO and help organise an event with an NGO.
  				        </div>
  			        </div>
  			        <div class="col-sm-4">
  				        <div class="loc">
					         Time : <br/>
					         Venue :<br/>
					         Type :<br/>
					         Contact :<br/>
				          </div>
                </div>
  				    </div>
            </div>
  			  </div>

          <div id="all" class="tab-pane fade">
  			    <div class="event">
              <div class="row"> 				
  				      <div class="col-sm-offset-0 col-sm-4">
  				         <div class="head">
						         Event Namesf
						       </div>    
  					    </div>
  					    <div class="col-sm-4">
  						    <div class="desc">
  						      We have different views for different users - Donor, Volunteer, NGO Donors can donate items, view heir previous donated history, register as a volunteer, view list of NGOs registered and their events.	NGOs can view the list of donated items, create events and charity drives and request for volunteers.Volunteers ensure that the item donated is delivered to the NGO and help organise an event with an NGO.
  						    </div>  
  					    </div>
  					    <div class="col-sm-4">
  						    <div class="loc">
							      Time : <br/>
							      Venue :<br/>
							      Type :<br/>
							      Contact :<br/>
						      </div>
  					    </div>
  				    </div>
            </div>
  			  </div>

  		  </div>
      </div>

  </div>
</body>
</html>